<!DOCTYPE html>
<html>
<head>
    {% load static %}
  <link rel="stylesheet" type="text/css" href= "{% static 'css/author_detail.css' %}">
</head>    
    


{% block content %}
<body>
    <h1>{{object.name}}</h1>
    <div class="feed">
        {% for title, link in articles.items %}

            
            {% for title, cover_image in img.items %}
                <img src="{{ cover_image }}" alt="{{ title }}" width="500" 
                height="300">
                <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}     

        {% endfor %}    
    </div>
</body>

{% endblock %}
</html>
